*{
  margin:0px auto;
}
.App {
  text-align: left;
  width: 1000px;
}
/*All Post Section*/
.all-post{
  border: 1px dashed;
}
.all-post-area{
  list-style-type: none;
  border: 1px dashed;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
.all-post-items{
 text-decoration: none;
 font-family: cursive;
}
.addButton{
  float: right;
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top:50px;
  cursor: pointer;
  margin-top:-1px;
  margin-right:420px;
}
/*New Post Section*/
.new-post {
border:1px dashed;
margin-top: 20px;
}
.save-button{
  text-decoration: none;
  background-color: gray;
  padding: 10px 25px;
  color:black;
}
.cancel-button{
  float: left;
  text-decoration: none;
  background-color: gray;
  padding: 10px 25px;
  color:black;
}
.form-area {
display: flex;
}
.form-area input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}
.form-area textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.form-area label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/*Post Details Section*/
.post-details{
  border: 1px dashed;
  margin-top:20px;
}
.post-details h1{
  text-decoration: underline;
}
.single-post{
  list-style-type:none;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}
.delete-button{
float: right;
text-decoration: none;
background-color: gray;
padding: 10px 25px;
margin-top: -160px;
color:black;
}
.back-button{
  float: left;
  text-decoration: none;
  background-color: gray;
  padding: 10px 25px;
  margin-top: -160px;
  color:black;
}
